.tronLinkInfo-component-container {
  min-width: 55%;
}

.account-info-header {
  font-weight: bold;
  text-decoration: underline;
  font-size: medium;

}

.account-info-address {

  font-weight: bold;
  font-size: small;
  color: #333;
}
.account-info-balance{
  font-weight: bold;
  font-size: small;
  color: #333;
}

.account-info-bandwidth{
  font-weight: bold;
  font-size: small;
  color: #333;
}
